<h2>Account Details</h2>
<p>Logged in as <%= current_user.email %></p>
<br>
<h2>Billing Details</h2>
<p>You are currently on the <strong>free</strong> plan.</p>
<p>We are currently building out pricing plans and payment systems. Thank you in advance for considering upgrading to a paid plan!</p>

<button class='btn btn-outline-secondary' disabled>Upgrade (Coming Soon)</button>