<h2>Get Started</h2>
  <h3>GitHub actions</h3>
  <p>Add the following yaml to any GitHub action workflow.</p>
  <pre>uses: jshawl/cinotify-action@main
with:
  to: 'example@example.com'
  subject: 'building main'
  body: 'This is a notification from GitHub actions.'</pre>
  <h3>REST API</h3>
  <pre>$ curl --request POST 'https://www.cinotify.cc/api/notify' \
-d "to=example@example.com&subject=building main&body=hello."</pre>