

<div class='public'>
  
  <h2>Zero Configuration CI/CD Notifications</h2>
  <p>CI Notify provides a container-friendly notification service that can be easily added to your CI/CD pipeline.</p>
  <p>Skip the DNS configuration and/or SMTP settings and get right to sending programmatic email.</p>
  <p>Send emails from any docker container that can make http requests with <code>curl</code>.</p>

  <hr/>
    <%= render "docs" %>
  </div>