<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>

<div class='public'>
  
  <h2>Zero Configuration CI/CD Notifications</h2>
  <p>CI Notify provides a container-friendly notification service that can be easily added to your CI/CD pipeline.</p>
  <p>Skip the DNS configuration and/or SMTP settings and get right to sending programmatic email.</p>
  <p>Send emails from any docker container that can make http requests with <code>curl</code>.</p>

  <hr/>
    <%= render "docs" %>
  </div>

  <script>hljs.highlightAll();</script>
